<h1>Pets#index</h1>
<html>
<head>
</head>
<body>
  <marquee behavior="scroll" direction="left">
    <img src="https://www.dailydot.com/wp-content/uploads/e45/c0/goofyshibe.jpg" width="540" alt="Natural" />
  </marquee>
</body>
</html>
<ul>
<%@pets.each do |pet| %>
    <li>
      <%=link_to pet.name, "/pets/#{pet.id}"%>
    </li>
    <%end%>
</ul>
